.msg_send {
    position: fixed;
    left: 0;
    bottom: 4rem;
    width: 100%;
    text-align: center;
}

.chat_feed{
    margin: 15rem;
}

.bot_info {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
.msg-txt{
    background-color: rgb(255, 0, 106);
}